* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  background-color: #dddddd;
  color: white;
  height: 100%;
  width: 100%;
}

#tools {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s transform;
  background-color: #212121;
  z-index: 1;
}

.tip {
  position: absolute;
  top: 2px;
  left: 2px;
}

.brush {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.brush input {
  width: 3rem;
}

.fill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.fill input {
  width: 3rem;
}

.dims {
  display: flex;
  flex-direction: column;
}

#js-paint-canvas {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
